.year-range {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 200px;
  pointer-events: none;
  font-family: "PT Sans", sans-serif;
}

.year-min{
  color: rgb(93, 95, 239);
}
.year-max{
  color: rgb(239, 93, 168);
}
